---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="GLNG - Web Tools">
  <h1>GLNG Tools</h1>
  <ul>
    <li><a href="/fb-dl/">Facebook Downloader</a></li>
    <li><a href="/gd-dl/">Google Drive Downloader</a></li>
    <li><a href="/ig-dl/">Instagram Downloader</a></li>
    <li><a href="/tt-dl/">TikTok Downloader</a></li>
    <li><a href="/search-pddikti/">Cari PDDIKTI</a></li>
    <li><a href="/search-wpmoe/">Cari WPMoE</a></li>
    <li><a href="/image-calendar/">Image Calendar</a></li>
    <li><a href="/image-iqc/">Image IQC</a></li>
  </ul>
</BaseLayout>
